<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>virtual7 Jeopardy</title>
    <link rel="stylesheet" href="css/jeopardy.css">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="controllers/controller.js"></script>
  </head>
  <body ng-app="v7jeopardy">
    <div ng-controller="AppCtrl" style="width:100%; height:100%;">
      <div class="openquestion">
        <div class="openquestiontext">I am the TERMINATOR and make always a good mood, ask my colleagues. I am
  single, but I have 26 kids, all girls. How does it work? I am a soccer youth coach. I like
  to go to Cafes, a good cappuccino has never harm.</div>
      </div>
      <div class="container board">
        <div class="row boardrow">
          <div class="col category" ng-repeat="category in categories">
            <div class="categorytext">{{category.name}}</div>
          </div>
        </div>
        <div class="row boardrow" ng-repeat="i in [] | range:5">
          <div class="col question" ng-repeat="category in categories">
            <div class="questionpoints" ng-click="choseQuestion(category.questions[i].id)" ng-hide="playedquestions.indexOf(category.questions[i].id) !== -1">{{(i+1)*100}}</div>
          </div>
        </div>
      </div>
      <div class="container players">
        <div class="row playerrow">
          <div class="col playercol" ng-repeat="player in players">
            <div class="player" style="background-color:{{player.color}};color:black;">
              <div class="playername">{{player.name}}</div>
              <div class="playerscore">{{player.score}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>